<!DOCTYPE html>
<html>
<head>
    <title>Add Driver</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark text-white">

<div class="container mt-5">

    <h1 class="text-warning">➕ Add Driver</h1>

    <form method="POST">

        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>email</label>
            <input type="text" name="email" class="form-control" required>
        </div>

        </div>
             </div class=mb-3>
             <label>phone number</label>
             <input type="text" name="phone" class+"form-control" required>
        </div>

        <button type="submit" class="btn btn-success">
            Save Driver
        </button>

        <a href="/drivers" class="btn btn-warning">
            Back
        </a>

    </form>

</div>

</body>
</html>
